%div{:style => "margin: 15px 5px 0px 5px"}
  %ul{ "data-role" => "listview", "data-inset" => "true", "data-filter" => "true", :style => "margin-top: 15px"}
    %li
      %a{ :href => "chat/single"}
        = image_tag "online.png" , :class => "ui-li-icon"
        Laura Micke
    %li
      %a{ :href => "chat/single"}
        = image_tag "online.png" , :class => "ui-li-icon"
        Scot Maths
    %li
      %a{ :href => "chat/single"}
        = image_tag "online.png" , :class => "ui-li-icon"
        Jeremy Thompsons
