div.scroll {
  height: 190px;
  width: auto;
  overflow: auto;
  border: 1px solid #666;
  background-color: #ccc;
  padding: 8px;
}

#inside-notification{
  position:absolute;
  top:60px;
  right: -134px;
  padding: 6px;
  height: 20px;
  width: 120px;
  float:right;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  border-radius: 10px 0 0 10px;

}
  
.conversation {
  border-radius: 6px;
  padding: 6px 8px;
  position:relative;
  margin: 8px 20px;
  color: #666666;
  background: white;
  
}

.conversation::after {
  background: #CCC;
  position: absolute;
  content: '';
  z-index: -2;
  border-radius: 7px;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  box-shadow: 2px 2px 2px 0px #999;
}

.conversation .sender, .conversation .timestamp {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 3px;
}

.conversation div {
  padding-left: 8px;
  padding-right: 8px;
}

.conversation .timestamp {
  position:absolute;
  top: 6px;
  right: 8px;
}

.conversation .message {
  border-top: 1px solid #999;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: Helvetica;
  font-size: 10pt;
  word-break: break-all;
}

.conversation .sender {
  word-break: break-all;
}

.conversationContainer {
  position:relative;
  margin-top: 20px;
  z-index: 1;
}

.conversationContainer .triangle {
  position: absolute;
  width: 20px;
  height: 12.5px;
  bottom: 10px;
  z-index: -1;
  box-shadow: 2px 2px 2px 0px #999;
  border: 1px solid #CCC;
}

.conversationContainer .triangle.left {
  -webkit-transform: skewX(40deg);
  -moz-transform: skewX(40deg);
  left: 16px;
  background: #EFFBD0;
}

.conversationContainer .triangle.right {
  -webkit-transform: skewX(-40deg);
  -moz-transform: skewX(-40deg);
  right: 16px;
  background: #afdaf8;
}
.triangle.left ~ .conversation {
  box-shadow: inset 0px 0px 8px 5px #effbd0;
}

.triangle.right ~ .conversation {
  box-shadow: inset 0px 0px 8px 5px #afdaf8;
}

.newMessaje {
vertical-align: middle;
line-height: 30px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: 'helvetica';
font-size: 8pt;
height: 0px;
padding: 0 42px;
vertical-align: middle;
border-top: 1px solid #C0C9CD;
border-bottom: 1px solid #7B7F82;
background: #99A7AF;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5YTdhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNWJmYzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(153, 167, 175, 1) 0%, rgba(181, 191, 200, 1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153, 167, 175, 1)), color-stop(100%,rgba(181, 191, 200, 1)));
background: -webkit-linear-gradient(top, rgba(153, 167, 175, 1) 0%,rgba(181, 191, 200, 1) 100%);
background: -o-linear-gradient(top, rgba(153, 167, 175, 1) 0%,rgba(181, 191, 200, 1) 100%);
background: -ms-linear-gradient(top, rgba(153, 167, 175, 1) 0%,rgba(181, 191, 200, 1) 100%);
background: linear-gradient(top, rgba(153, 167, 175, 1) 0%,rgba(181, 191, 200, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99a7af', endColorstr='#b5bfc8',GradientType=0 );
transition: height 1s;
-moz-transition: height 1s; /* Firefox 4 */
-webkit-transition: height 1s; /* Safari and Chrome */
-o-transition: height 1s; /* Opera */
}

.newMessajeMod{
height: 36px;
}

.newMsjSender {
color: white;
font-weight: bold;
text-shadow: -1px 1px 2px black;
margin-right: 7px;
}
