=form_tag('save_settings', :id => 'Settings_form') do
  .settingsContainer.acordeon
    .settingsListHeader.acordeonHeader
      Settings
      .AcordeonListHeaderBtn{:onclick => "toggleAcordeon(this);"}
    .acordeonList
      .settings.acordeonListItem
        .settingsLeft
          Set your status mesage
        .settingsRight
          %input.settings{:type => 'text', :style => "width: 100%;", "data-role" => "none"}
          
      .settings.acordeonListItem
        .settingsLeft
          Lets others know im idle after
        .settingsRight
          %input.settings{:type => 'text', :style => "width: 34px;", "data-role" => "none"}
          mins of inactivity
          
      .settings.acordeonListItem
        .settingsLeft
          Show Offline contacts :
        .settingsRight
          .CheckboxSwitch.green{:onclick => "toggleSwitch(this);"}
            %input.CheckboxSwitch{:type => "checkbox", "data-role" => "none"}
              .checkboxSwitchContainer
                .switchOn ON
                .switch
                .switchOff OFF
  %div{:style => "padding: 12px 42px;background: #e1ecee;"}
    %button{:class => "settingsSubmitBtn green", "data-role" => "none", :style => "margin-bottom: 20px"}
      Use default
    = submit_tag 'Done',  {:class => "submitBtn settingsSubmitBtn green", "data-role" => "none" }
