= javascript_include_tag "chat"
%div{:id => "mesg", :style => "min-height: 190px"}
%div{:id => "control", :style => "margin-top: 18px;"}
  =form_tag('#', :id => 'chat_window') do
    %div
      = text_field_tag 'msg_body', '', :style => "margin-top:10px;"
      = hidden_field_tag 'channel', @channel
    %div
      = submit_tag 'Send',  :class => "submitBtn"
